* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.collapse {
  position: absolute;
  right: 0;
  gap: 20px;
}

.navbar-nav {
  gap: 10px;
  text-transform: capitalize;
}
.d-flex {
  padding-right: 10px;
}
#btn-book {
  background-color: #b78d65;
  border-color: #b78d65;
  color: white;
}

/* members */
#member-rows {
  background-color: rgb(106, 106, 106);
  width: 100%;
  height: auto;
  transition: 5s;
  padding-bottom: 10px;
}
#member-row-one h2 {
  /* font-size: 40px; */
  font-family: Cinzel, "Palatino Linotype", sans-serif;
  font-weight: 500;
  color: white;
  padding-left: 100px;
  padding-top: 20px;
}

#member-row-one a {
  text-decoration: none;
}
#member-row-one ul {
  padding-left: 100px;
  margin-top: 10px;
}

#special-offer h1 {
  font-family: Cinzel, "Palatino Linotype", sans-serif;
  font-weight: 400;
  color: rgb(23, 21, 21);
  /* padding-left: 100px; */
  margin-top: 60px;
  text-align: center;
  line-height: 1.2;
  font-size: calc(1.425rem + 2.1vw);
}
#special-offer p {
  color: rgb(105, 105, 105);
  margin-top: 20px;
  text-align: center;
}
#img-box {
  text-align: center;
  background-color: #e39e27;
  max-width: fit-content;
}
#img-box img {
  width: 600px;
  min-width: 300px;
}
#form-box {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#mssg-btn {
  width: 100% !important;
  padding: 0.5rem 1.75rem !important;
  border: 1px solid #e39e27 !important;
  background-color: #b78d65 !important;
  border-color: #b78d65 !important;
}

.form-control {
  display: block;
  width: 100% !important;
  padding: 1.375rem 1.75rem !important;
  font-size: 1.2rem;
  font-weight: 400;

  border: 1px solid #f6d347 !important;
}
#footer {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  /* justify-content: space-between !important; */
}
#footer-content {
  width: 100%;
  height: auto;
  color: #f9db78;
  /* justify-content: space-between !important; */
}
#employee-logo h4 {
  font-family: cursive;
  color: gray;
}
.btn-more {
  border-radius: 10px;
  padding: 20px 20px;
  background-color: rgb(162, 207, 244);
  color: white;
  border: 2px solid white;
}
#footer-content h3 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(45, 44, 43);
  font-family: Cinzel, "Palatino Linotype", sans-serif;

  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
#footer a {
  text-decoration: none;
  color: rgb(61, 60, 60);
  /* justify-content: space-between !important; */
}
#footer {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
#footer-content {
  width: 100%;
  height: auto;
  color: #f9db78;
}
#footer-content h3 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(69, 68, 63);
  font-family: Cinzel, "Palatino Linotype", sans-serif;

  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.coming-soon {
  border-radius: 10px;
  padding: 4px 4px;
  background-color: red;
  color: white;
  border: 2px solid white;
}
.span-row {
  /* margin-left: 100px; */
  /* padding-left: 100px; */

  margin-bottom: 30px;
  color: white;
}
.navbar-brand {
  padding-left: 0px;
}
@media (max-width: 768px) {
  .navbar-nav {
    gap: 1px;
    /* text-transform: capitalize; */
  }
  .d-flex {
    padding-right: 10px;
  }
  .span-row {
    /* margin-left: 30px; */
  }
  .navbar-brand {
    padding-left: 2px;
  }
  /* #img-box img{
            width: 600px;
            max-width: 600px;
            } */
  #img-box {
    text-align: center;
    background-color: #e39e27;
    max-width: fit-content;
  }
  .form-control {
    display: block;
    width: 100% !important;
    padding: 1.375rem 1.75rem !important;
    font-size: 1.2rem;
    font-weight: 400;

    border: 1px solid #f6d347 !important;
  }
  #img-box img {
    width: 200px;
  }
  #footer-content {
    width: 100%;
    margin-bottom: 20px;
  }
  #member-row-one h2 {
    padding-left: 30px;
  }
  #member-row-one ul {
    padding-left: 30px;
  }
  #mssg-btn {
    font-size: medium;
  }
}
