* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-light .navbar-nav .nav-link {
  color: black !important;
}

.collapse {
  position: absolute;
  right: 0;
  gap: 20px;
}

.navbar-nav {
  gap: 25px;
  text-transform: capitalize;
}
.d-flex {
  padding-right: 50px;
}
#btn-book {
  background-color: #b78d65;
  border-color: #b78d65;
  color: white;
}
.navbar-brand {
  padding-left: 50px;
}

/* offers */
#offer-rows {
  background-color: rgb(106, 106, 106);
  width: 100%;
  height: auto;
  transition: 5s;
}
#offer-row-one h1 {
  /* font-size: 40px; */
  font-family: Cinzel, "Palatino Linotype", sans-serif;
  font-weight: 500;
  color: white;
  padding-left: 100px;
  margin-top: 10px;
}

#offer-row-one a {
  text-decoration: none;
}
#offer-row-one ul {
  padding-left: 100px;
  margin-top: 10px;
}
/* special offer */
#special-offer h1 {
  font-family: Cinzel, "Palatino Linotype", sans-serif;
  font-weight: 600;
  /* font-weight:600; */
  color: rgb(23, 21, 21);

  /* padding-left: 100px; */
  margin-top: 60px;
}
#special-offer p {
  color: rgb(110, 107, 107);
  margin-top: 20px;
}
/*  */
#nature-btn {
  /* transition: 5s; */
  background-color: rgb(220, 217, 212);
  border: 2px solid rgb(220, 217, 212);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  padding: 20px 25px;
  /* padding-right: 40px; */
  /* text-align: start ; */
  /* font-size:21px; */
}
#nature-container {
  transition: 5s;
  margin-top: 30px;
  align-items: center !important;
  text-align: center;
}
#nature-col-img {
  width: 100%;
}
#nature-col-img img {
  width: 100%;
  min-width: 300px;
}

#accordion-button {
  padding: 20px 70px;
  color: white;
  background-color: rgb(198, 164, 86);
  border: 2px solid rgb(198, 164, 86);
  font-family: "Playfair Display", serif;
  margin-top: 40px;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 30px;
}
.accordion-btn {
  padding: 20px 72px;

  background-color: rgb(220, 217, 212);
  border: 2px solid rgb(220, 217, 212);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 21px;
}

.accordion-btn:hover {
  background-color: rgb(198, 164, 86);
  color: white;
}
#accordion-button:hover {
  background-color: rgb(220, 217, 212);
  color: black;
  border: 2px solid rgb(220, 217, 212);
}
#escape-container {
  margin-top: 25px;
}
#escape-container h2 {
  font-size: 8.1vw;
  font-weight: bold;
  color: rgb(50, 50, 47);
  font-family: Cinzel, "Palatino Linotype", sans-serif;
}
#escape-container p {
  font-family: Inter, sans-serif;
  color: rgb(105, 105, 105);
  line-height: 140%;
  font-weight: 200px;
}
#btn-read {
  background-color: rgb(173, 139, 58);
  border: 2px solid rgb(173, 139, 58);
  padding: 10px 30px;
  color: white;
  font-size: larger;
  margin-top: 20px;
}
#footer {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}
#footer-content {
  width: 100%;
  height: auto;
  color: #f9db78;
}
#employee-logo h4 {
  font-family: cursive;
  color: gray;
}
.btn-more {
  border-radius: 10px;
  padding: 20px 20px;
  background-color: rgb(162, 207, 244);
  color: white;
  border: 2px solid white;
}

#footer-content h3 {
  font-size: 30px;
  font-weight: 400;
  color: rgb(69, 68, 63);
  font-family: Cinzel, "Palatino Linotype", sans-serif;

  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#offer-rows {
  background-color: rgb(106, 106, 106);
  width: 100%;
  height: auto;
  transition: 5s;
  padding-bottom: 10px;
}
#member-row-one h2 {
  /* font-size: 40px; */
  font-family: Cinzel, "Palatino Linotype", sans-serif;
  font-weight: 500;
  color: white;
  padding-left: 100px;
  padding-top: 20px;
}
#member-row-one a {
  text-decoration: none;
}
#member-row-one ul {
  padding-left: 100px;
  margin-top: 10px;
}

#footer a {
  text-decoration: none;
  color: gray;
}
.coming-soon {
  border-radius: 10px;
  padding: 4px 4px;
  background-color: red;
  color: white;
  border: 2px solid white;
}
.span-row {
  margin-bottom: 30px;
  color: white;
}
@media (min-width: 768px) {
  .navbar-nav {
    gap: 15px;
    /* text-transform: capitalize; */
  }
  .d-flex {
    padding-right: 10px;
  }
  .navbar-brand {
    padding-left: 2px;
  }
  #footer-content {
    width: 100%;
    margin-bottom: 20px;
  }
  #offer-rows {
    background-color: rgb(106, 106, 106);
    width: 100%;
    height: auto;
    transition: 5s;
    padding-bottom: 10px;
  }
  #member-row-one h2 {
    /* color: white; */
    padding-left: 30px;
    /* margin-top: 20px; */
  }
  #member-row-one ul {
    padding-left: 30px;
    /* margin-top: 10px; */
  }

  #member-row-one h2 {
    /* font-size: 40px; */
    font-family: Cinzel, "Palatino Linotype", sans-serif;
    font-weight: 500;
    color: white;
    padding-left: 30px;
    padding-top: 20px;
  }
  /* special offer */
  #special-offer h1 {
    font-family: Cinzel, "Palatino Linotype", sans-serif;
    font-weight: 600;
    /* font-weight:600; */
    color: rgb(23, 21, 21);

    /* padding-left: 100px; */
    margin-top: 60px;
  }
  #special-offer p {
    color: rgb(110, 107, 107);
    margin-top: 20px;
  }
  /*  */
  #nature-btn {
    /* transition: 5s; */
    background-color: rgb(220, 217, 212);
    border: 2px solid rgb(220, 217, 212);
    font-family: "Playfair Display", serif;
    font-weight: 500;
    padding: 20px 25px;
    /* padding-right: 40px; */
    /* text-align: start ; */
    /* font-size:21px; */
  }
  #nature-container {
    transition: 5s;
    margin-top: 30px;
    align-items: center !important;
    text-align: center;
  }
  #nature-col-img {
    width: 400px;
    height: 500px;
  }
  #accordion-button {
    padding: 20px 70px;
    color: white;
    background-color: rgb(198, 164, 86);
    border: 2px solid rgb(198, 164, 86);
    font-family: "Playfair Display", serif;
    margin-top: 40px;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 30px;
  }
  .accordion-btn {
    padding: 20px 72px;

    background-color: rgb(220, 217, 212);
    border: 2px solid rgb(220, 217, 212);
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 21px;
  }

  .accordion-btn:hover {
    background-color: rgb(198, 164, 86);
    color: white;
  }
  #accordion-button:hover {
    background-color: rgb(220, 217, 212);
    color: black;
    border: 2px solid rgb(220, 217, 212);
  }
  #escape-container {
    margin-top: 25px;
  }
  #escape-container h2 {
    font-size: 2.1vw;
    font-weight: bold;
    color: rgb(50, 50, 47);
    font-family: Cinzel, "Palatino Linotype", sans-serif;
  }
  #escape-container p {
    font-family: Inter, sans-serif;
    color: rgb(105, 105, 105);
    line-height: 140%;
    font-weight: 200px;
  }
  #nature-col-img img {
    width: 400px;
    min-width: 300px;
    /* height: 500px; */
  }
  #nature-col-img {
    width: 400px;
    /* height: 500px; */
  }
  #btn-read {
    background-color: rgb(173, 139, 58);
    border: 2px solid rgb(173, 139, 58);
    padding: 10px 30px;
    color: white;
    font-size: larger;
    margin-top: 20px;
  }
  #footer {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  #footer-content {
    width: 100%;
    height: auto;
    color: #f9db78;
  }
  #employee-logo h4 {
    font-family: cursive;
    color: gray;
  }
  .btn-more {
    border-radius: 10px;
    padding: 20px 20px;
    background-color: rgb(162, 207, 244);
    color: white;
    border: 2px solid white;
  }
  /* #footer-content h3{
                font-size:30px;
                font-weight: 400;
                color: rgb(69, 68, 63);
                font-family: Cinzel, "Palatino Linotype", sans-serif;
             
                text-align: center
                ;
              margin-top: 50px;
              margin-bottom: 40px;
            } */
  #footer a {
    text-decoration: none;
    color: gray;
  }
  .coming-soon {
    border-radius: 10px;
    padding: 4px 4px;
    background-color: red;
    color: white;
    border: 2px solid white;
  }
}
